<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>請求書</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body style="text-align: center;">

<h1 style="font-size: 30px; letter-spacing: 4px;">染め直し</h1>
<p style="font-size: 26px; letter-spacing: 4px;">注文書・請求書</p>
<p style="text-align: center; font-size: 30px; margin-left: 0px; position: relative;">
    <input type="text" placeholder="氏名" style="border: none; border-bottom: 1px solid #000; width: 30ch;" maxlength="30">
</p>
<p style="text-align: center; font-size: 30px; margin-right: 0px; position: relative;">
    <input type="text" placeholder="住所" style="border: none; border-bottom: 1px solid #000; width: 30ch;" maxlength="30">
</p>
<p style="text-align: center; font-size: 30px; margin-right: 0px; position: relative;">
    <input type="text" placeholder="電話番号" style="border: none; border-bottom: 1px solid #000; width: 30ch;" maxlength="30">
</p>





<style>
    tr th {
        text-align: center;
    }

    tr th span {
        border-bottom: 1px solid #000;
    }

    input {
            width: 100%;
            box-sizing: border-box;
        }

</style>

<table>
    <tr>
        <th>商品名</th>
        <th>No.</th>
        <th>数量</th>
        <th>金額</th>
    </tr>

    <!-- You can duplicate this row for more items -->
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td> 
    </tr>

    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td> 
    </tr>

    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td> 
    </tr>

    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td> 
    </tr>

    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td> 
    </tr>

    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td> 
    </tr>

</table>
<style>
    tr th {
        text-align: center;
    }
</style>

<p>合計:</p>

<footer style="position: absolute; bottom: 0; width: 100%; text-align: right; padding: 10px;">
    <div style="padding-right: 100px;">
        丸幸産業株式会社</span><br/>
    </div>
    <div style="padding-right: 100px;">
        <span style="border-bottom: 1px solid #000;">〒</span><br/>
    </div>
    <div style="padding-right: 100px;">
        <span style="border-bottom: 1px solid #000;">住所</span><br/>
    </div>
    <div style="padding-right: 100px;">
        <span style="border-bottom: 1px solid #000;">電話番号</span><br/>
    </div>
    <div style="padding-right: 100px;">
        Mail:<span style="border-bottom: 1px solid #000;"><a href="mailto:contact@marukousangyou.co.jp">contact@marukousangyou.co.jp</a></span><br/>
    </div>
</footer>